@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
    }

    html {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}
