@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
    --translate-hover: 0.75px;
    --translate-active: 2px;
    --radius-sketchy: 8px 12px 10px 15px / 12px 8px 15px 10px;
    --radius-square: 4px 7px 5px 8px / 6px 4px 8px 5px;
    --radius-asymmetric: 6px 8px 5px 10px / 10px 5px 8px 6px;
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-success: var(--success);
    --color-warning: var(--warning);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(27.95% 0.03688 260.049);
    --card: oklch(99.474% 0.00439 77.978);
    --card-foreground: oklch(27.95% 0.03688 260.049);
    --popover: oklch(99.474% 0.00439 77.978);
    --popover-foreground: oklch(27.95% 0.03688 260.049);
    --primary: oklch(98.688% 0.02129 95.306);
    --primary-foreground: oklch(27.95% 0.03688 260.049);
    --secondary: oklch(27.95% 0.03688 260.049);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(96.744% 0.00143 285.225);
    --muted-foreground: oklch(55.202% 0.01541 285.833);
    --accent: oklch(96.826% 0.00696 248.26);
    --accent-foreground: oklch(86.898% 0.01994 252.99);
    --destructive: oklch(51.423% 0.19782 16.92);
    --success: oklch(79.933% 0.10783 168.626);
    --warning: oklch(92.427% 0.11504 95.756);
    --border: oklch(27.95% 0.03688 260.049);
    --input: oklch(27.95% 0.03688 260.049);
    --ring: oklch(37.17% 0.0392 257.31);
    --sidebar: oklch(99.474% 0.00439 77.978);
    --sidebar-foreground: oklch(27.95% 0.03688 260.049);
    --sidebar-primary: oklch(98.688% 0.02129 95.306);
    --sidebar-primary-foreground: oklch(99.474% 0.00439 77.978);
    --sidebar-accent: oklch(96.744% 0.00143 285.225);
    --sidebar-accent-foreground: oklch(98.688% 0.02129 95.306);
    --sidebar-border: oklch(27.95% 0.03688 260.049);
    --sidebar-ring: oklch(37.17% 0.0392 257.31);
}

.dark {
    --background: oklch(21.612% 0.00611 55.916);
    --foreground: oklch(92.318% 0.00249 47.09);
    --card: oklch(22.479% 0.00604 55.928);
    --card-foreground: oklch(92.318% 0.00249 47.09);
    --popover: oklch(26.848% 0.00627 34.067);
    --popover-foreground: oklch(92.318% 0.00249 47.09);
    --primary: oklch(92.318% 0.00249 47.09);
    --primary-foreground: oklch(21.612% 0.00611 55.916);
    --secondary: oklch(37.412% 0.00864 67.452);
    --secondary-foreground: oklch(92.318% 0.00249 47.09);
    --muted: oklch(37.412% 0.00864 67.452);
    --muted-foreground: oklch(90.238% 0.00418 55.573);
    --accent: oklch(26.848% 0.00627 34.067);
    --accent-foreground: oklch(92.318% 0.00249 47.09);
    --destructive: oklch(51.423% 0.19782 16.92);
    --success: oklch(39.541% 0.07479 167.237);
    --warning: oklch(0.8106 0.1649 85.25);
    --border: oklch(55.34% 0.01156 57.906);
    --input: oklch(55.34% 0.01156 57.906);
    --ring: oklch(60.604% 0.01413 55.956);
    --sidebar: oklch(22.479% 0.00604 55.928);
    --sidebar-foreground: oklch(92.318% 0.00249 47.09);
    --sidebar-primary: oklch(92.318% 0.00249 47.09);
    --sidebar-primary-foreground: oklch(92.318% 0.00249 47.09);
    --sidebar-accent: oklch(37.412% 0.00864 67.452);
    --sidebar-accent-foreground: oklch(92.318% 0.00249 47.09);
    --sidebar-border: oklch(55.34% 0.01156 57.906);
    --sidebar-ring: oklch(60.604% 0.01413 55.956);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
